extends layout

block content
    h3 Do You Have What It Takes To Be A Warrior? (COSC 465 project 8)
    p
    p Greetings, non rolly polly human.  I speak to you from a different universe.  This universe is comprised of flat maps, dangerous
    p spikes, and cool boosts.  And we, in this universe, are all round.  Our lives and futures hinge on defeating the enemies on a 
    p day to day basis, and we do this in a tournament format.  Death befalls us all, just as it once did for your gladiators long, long
    p ago.  But, despite the risks, we need your help; you have the ability to help us defeat our enemies by taking over a drone and 
    p controlling them to assist in our battles.  But you can only do it if you can respond quickly  to the trials and terrors that might
    p befall you.  To see if your connection is good enough, we have provided you with a simple test:
    
    a(href='/tests') Launch Tests
    
    p If it appears you can form a good connection to one of our drones and are ready for battle, click the link below to be placed in
    p control of a warrior drone:
    
    a(class = 'button', href = 'http://tagpro.koalabeast.com/') TagPro
    
    p If the battle scene is not for you, perhaps you are more inclined to take the route of a spy, gleaning information for us to defeat
    p our enemies.  In that case, you might need to upload large amounts of data, like new maps that will be slanted against the enemies,
    p or information about enemy strategies.  If that is the case, you will need to know your data upload speed.  To figure out how long
    p it takes to upload 120,000 bytes of data, click the link below: 
    
    a(href='/upload') Throughput Test

