extends layout

block content
    div#testcontrol
        h3 Run latency tests
        p 
            a(href="/") Home
        p 
            a#startping(href="#") Latency test
            
        p Click 'Latency test' to find if your connection is fast enough to help save us on the battle field!
        
        h3 Results
    div#status
