extends layout

block content
    div#testcontrol
        h3 Run upload tests
        p 
            a(href="/") Home
        p 
            a#uploadinfo(href='#') Upload Test
            
        p Click 'upload test' to figure out if you have what it takes to be a covert operative and send us all the stolen data!
        p (recall, this is telling you how long it takes to upload 12 kilobytes of data.)
        
        h3 Results
    div#uploadstatus
